:root {
    /* Bootstrap variables */  
    --bs-orange: var(--primary-color);  
    --bs-dark: rgb(29, 51, 82);
    --bs-dark-rgb: 29, 51, 82; 
    /* Custom variables */
    --light-gray-color: #f0efef;    
    --dark-gray-color: #707070;
    --primary-color: #0f5ab3;
    --primary-rgb: 15, 90, 179;
    --secondary-color: rgb(90, 155, 236);
    --secondary-rgb: 90, 155, 236;
    --frontend-color: navy;
    --backend-color: purple;
    --primary-font: 'Lato', sans-serif;
    --secondary-font: 'Roboto', serif; 
    --btn-transition-speed: 0.3s;
}

/* General */
body {
    font-family: var(--primary-font);
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--primary-font);
}
h2 {
    font-family: var(--secondary-font);
}
div[class*="col"] {
    padding: 1rem;
}
/* -Links */
a {
    color: var(--primary-color);
}
a:hover {
    color: var(--bs-dark);
}
/* Common Classes */
.modal .modal-dialog {
    max-width: 1000px;
    width: 80%;
}
/* -Forms */
.form-check-input[type=checkbox]:indeterminate {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.form-range::-webkit-slider-thumb {
    background-color: var(--primary-color);  
}
.form-range::-moz-range-thumb {
    background-color: var(--primary-color);  
}
/* -Buttons */
.btn {
    font-family: var(--primary-font);
}
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-primary:hover {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-dark-rgb), 0.5);
}
.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
}
.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-dark-rgb), 0.5);
}
.btn-primary:disabled,
.btn-primary.disabled {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-outline-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-outline-primary:disabled,
.btn-outline-primary.disabled {
    color: var(--primary-color);
}
/* -Links */
.link-primary {
    color: var(--primary-color);
}
.link-primary:hover,
.link-primary:focus {
    color: var(--bs-dark);
}
/* --Button Links */
.btn-link {
    color: var(--primary-color);
}
.btn-link:hover {
    color: var(--bs-dark);
}
/* --Nav Links */
.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--primary-color);
}
.dropdown-menu-dark .dropdown-item.active,
.dropdown-menu-dark .dropdown-item:active {
    background-color: var(--primary-color);
}
.nav-link {
    color: var(--primary-color);
}
.nav-link:hover,
.nav-link:focus {
    color: var(--bs-dark);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: var(--primary-color);
}
.navbar-brand {
    font-family: var(--secondary-font);
}
/* --Page Links */
.page-link {
    color: var(--primary-color);
}
.page-item.active .page-link {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
/* -- */
.progress-bar {
    background-color: var(--primary-color);
}
.list-group-item.active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.border-primary {
    border-color: var(--primary-color) !important;
}
.text-primary {
    color: rgba(var(--primary-rgb), var(--bs-text-opacity)) !important;
}
.bg-primary {
    background-color: rgba(var(--primary-rgb), var(--bs-bg-opacity)) !important;
}
.page-section {
    padding: 4rem 0;
}
hr.divider {
    background-color: var(--primary-color);
}

/* Main Navigation */
#mainNav .navbar-brand {
    font-family: var(--secondary-font);
}
#mainNav .navbar-nav .nav-item .nav-link {
    font-family: var(--primary-font);
}
#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
    color: var(--primary-color);
}
#mainNav .navbar-nav .nav-item .nav-link.active {
    color: var(--primary-color) !important;
}
@media (min-width: 992px) {
    #mainNav.navbar-shrink .navbar-brand:hover {
        color: var(--primary-color);
    }
    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
        color: #212529;
    }
    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
        color: var(--primary-color);
    }
}

/* Quick Facts (in header) */
header.masthead .quick-facts {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}
@media (min-width: 768px) {
    header.masthead .quick-facts {
        align-items: center;
        flex-direction: row;
    }
}

.profile-img {
    max-height: 300px;
}

/* What I offer */
/* -Skills */
.backend {
    color: var(--backend-color);
}
.frontend {
    color: var(--frontend-color);
}
.skills {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

/* Portfolio */
#portfolio {
    padding: 4rem 0;
}
/* -Skills Filter */
#portfolio #skills-filter {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: 0;
    width: 100%;
}
#portfolio #skills-filter li {
    background-color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    color: var(--primary-color);
    cursor: pointer;
    margin: 1rem 1.5rem 1rem 0;
    padding: 0.5rem;
    text-align: center;
}
#portfolio #skills-filter li:hover {
    background-color: var(--primary-color);
    color: #fff;
}
#portfolio #skills-filter li.active {
    background-color: var(--primary-color);
    color: #fff;
}
/* - */
#portfolio .img-container {
    display: flex;
    justify-content: space-between;
}
#portfolio .img-container img {
    max-width: 33%;
}
/* -Portfolio Box */
#portfolio .container-fluid .portfolio-box {
    box-shadow: 2px 2px 8px;
}
/* --Portfolio Box Caption */
#portfolio .container-fluid .portfolio-box .portfolio-box-caption,
#portfolio .container-sm .portfolio-box .portfolio-box-caption,
#portfolio .container-md .portfolio-box .portfolio-box-caption,
#portfolio .container-lg .portfolio-box .portfolio-box-caption,
#portfolio .container-xl .portfolio-box .portfolio-box-caption,
#portfolio .container-xxl .portfolio-box .portfolio-box-caption {
    background: rgba(15, 90, 179, 0.9);
    font-family: var(--primary-font);
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
    justify-content: space-between;
}
#portfolio .project-name-container {
    align-items: center;
    background-color: rgba(var(--bs-dark-rgb), 0.7);
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    width: 100%;
}
#portfolio .project-name-container .project-name {
    font-size: 1.2rem;
    margin-right: 1rem;
    text-decoration: underline;
}
#portfolio .portfolio-box-caption a {
    color: #fff;
    margin: 0 5px;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    transition: opacity var(--btn-transition-speed);
}
#portfolio .portfolio-box-caption a:hover {
    opacity: 0.6;
}
#portfolio .portfolio-box-content {
    padding: 1rem;
}
#portfolio .projects__skills {
    background-color: rgba(var(--bs-light-rgb), 0.7);
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}
#portfolio .projects__skills i {
    font-size: 1.5em;
    margin-left: 1rem;
    margin-right: 1rem;
}
#portfolio .portfolio-modal-content {
    display: none;
}

/* Contact */
.social-icons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}
.social-icon {
    color: #000;
    font-size: 100px;
    height: 100px;
    margin: 1rem;
    width: 100px; 
    transition: opacity var(--btn-transition-speed);
    vertical-align: top;
}
.social-icon:hover {
    opacity: 0.6;
}

.call-to-action{
    padding: 2rem 0;
}

/* Project Modal */
#project-modal img {
    display: block;
}
#project-modal video {
    max-height: 400px;
}
#project-modal .carousel-item img {
    height: 529px;
}
#project-modal .close {
    color: rgb(156, 0, 0);
    cursor: pointer;
    font-size: 1.3rem;
}
#project-modal .close:hover {
    color: rgb(206, 90, 90);
}